<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    @font-face {
      font-family: 'Arabic Font';
      src: url('/fonts/arabic-font.ttf');
    }
    .arabic-text {
      font-family: 'Arabic Font', Arial, sans-serif;
      direction: rtl;
    }
  </style>
  <!-- ...existing code... -->
</head>
<body>
  <!-- ...existing code... -->
  <div class="arabic-text">
    <%= arabicContent %>
  </div>
  <!-- ...existing code... -->
</body>
</html>