modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 8085
externalPort = 4200

[[ports]]
localPort = 8086
externalPort = 5000

[[ports]]
localPort = 19000
externalPort = 3000

[workflows]
runButton = "Start Mobile App"

[[workflows.workflow]]
name = "Start Mobile App"
author = 39044110
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile-fleet-app && EXPO_USE_TUNNEL=true EXPO_DEBUG=true EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0 REACT_NATIVE_PACKAGER_HOSTNAME=\"0.0.0.0\" npx expo start --tunnel"
