
-- SQL لإنشاء جدول رسائل الواتساب في Supabase
CREATE TABLE whatsapp_messages (
  id SERIAL PRIMARY KEY,
  phone_number VARCHAR(20) NOT NULL,
  message_content TEXT NOT NULL,
  message_type VARCHAR(50) NOT NULL DEFAULT 'general',
  status VARCHAR(20) NOT NULL DEFAULT 'pending',
  twilio_message_id VARCHAR(100),
  error_message TEXT,
  sent_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  cost DECIMAL(10, 4) DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- إنشاء فهارس لتحسين الأداء
CREATE INDEX idx_whatsapp_messages_phone ON whatsapp_messages(phone_number);
CREATE INDEX idx_whatsapp_messages_status ON whatsapp_messages(status);
CREATE INDEX idx_whatsapp_messages_type ON whatsapp_messages(message_type);
CREATE INDEX idx_whatsapp_messages_sent_at ON whatsapp_messages(sent_at);

-- إضافة تعليقات للجدول
COMMENT ON TABLE whatsapp_messages IS 'جدول رسائل الواتساب المرسلة عبر Twilio';
COMMENT ON COLUMN whatsapp_messages.message_type IS 'نوع الرسالة: payment_reminder, overdue_payment, payment_received, general';
COMMENT ON COLUMN whatsapp_messages.status IS 'حالة الرسالة: sent, failed, pending';

