-- Enhanced RLS System with Role-Based Access Control
-- Migration: 20250131_enhanced_rls_system.sql

BEGIN;

-- =====================================================
-- PART 1: USER ROLES AND PERMISSIONS SETUP
-- =====================================================

-- Create user_roles table if it doesn't exist
CREATE TABLE IF NOT EXISTS public.user_roles (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    role TEXT NOT NULL CHECK (role IN ('admin', 'manager', 'employee', 'accountant', 'maintenance', 'legal', 'viewer')),
    permissions JSONB DEFAULT '{}',
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    created_by UUID REFERENCES auth.users(id),
    
    UNIQUE(user_id, role)
);

-- Enable RLS on user_roles table
ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

-- Create policies for user_roles table
CREATE POLICY "user_roles_admin_full_access" ON public.user_roles
FOR ALL USING (
    EXISTS (
        SELECT 1 FROM public.user_roles ur 
        WHERE ur.user_id = auth.uid() 
        AND ur.role = 'admin'
    )
);

CREATE POLICY "user_roles_manager_read_access" ON public.user_roles
FOR SELECT USING (
    EXISTS (
        SELECT 1 FROM public.user_roles ur 
        WHERE ur.user_id = auth.uid() 
        AND ur.role IN ('admin', 'manager')
    )
);

CREATE POLICY "user_roles_self_read_access" ON public.user_roles
FOR SELECT USING (user_id = auth.uid());

-- =====================================================
-- PART 2: HELPER FUNCTIONS FOR ROLE CHECKING
-- =====================================================

-- Function to check if user has a specific role
CREATE OR REPLACE FUNCTION public.user_has_role(user_uuid UUID, role_name TEXT)
RETURNS BOOLEAN AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM public.user_roles 
        WHERE user_id = user_uuid AND role = role_name
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to get user roles
CREATE OR REPLACE FUNCTION public.get_user_roles(user_uuid UUID DEFAULT auth.uid())
RETURNS TEXT[] AS $$
BEGIN
    RETURN ARRAY(
        SELECT role FROM public.user_roles 
        WHERE user_id = user_uuid
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to check if user has any of the specified roles
CREATE OR REPLACE FUNCTION public.user_has_any_role(user_uuid UUID, roles TEXT[])
RETURNS BOOLEAN AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM public.user_roles 
        WHERE user_id = user_uuid AND role = ANY(roles)
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- =====================================================
-- PART 3: ENHANCED POLICIES FOR CORE TABLES
-- =====================================================

-- Drop existing overly permissive policies
DO $$
BEGIN
    -- Customers table
    DROP POLICY IF EXISTS "Enable all operations for authenticated users" ON public.customers;
    DROP POLICY IF EXISTS "customers_policy" ON public.customers;
    
    -- Vehicles table  
    DROP POLICY IF EXISTS "Enable all operations for authenticated users" ON public.vehicles;
    DROP POLICY IF EXISTS "vehicles_policy" ON public.vehicles;
    
    -- Leases table
    DROP POLICY IF EXISTS "Enable all operations for authenticated users" ON public.leases;
    DROP POLICY IF EXISTS "leases_policy" ON public.leases;
    
    -- Payments table
    DROP POLICY IF EXISTS "Enable all operations for authenticated users" ON public.unified_payments;
    DROP POLICY IF EXISTS "payments_policy" ON public.unified_payments;
    
    -- Profiles table
    DROP POLICY IF EXISTS "Enable all operations for authenticated users" ON public.profiles;
    DROP POLICY IF EXISTS "profiles_policy" ON public.profiles;
EXCEPTION
    WHEN undefined_object THEN
        NULL; -- Policy doesn't exist, continue
END $$;

-- Create secure policies for customers table
CREATE POLICY "customers_admin_manager_full_access" ON public.customers
FOR ALL USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager'])
);

CREATE POLICY "customers_employee_read_write" ON public.customers
FOR ALL USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee'])
);

CREATE POLICY "customers_accountant_read_only" ON public.customers
FOR SELECT USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee', 'accountant'])
);

-- Create secure policies for vehicles table  
CREATE POLICY "vehicles_operational_access" ON public.vehicles
FOR ALL USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee', 'maintenance'])
);

CREATE POLICY "vehicles_read_only_access" ON public.vehicles
FOR SELECT USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee', 'maintenance', 'accountant', 'legal', 'viewer'])
);

-- Create secure policies for leases table
CREATE POLICY "leases_business_access" ON public.leases
FOR ALL USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee'])
);

CREATE POLICY "leases_financial_read_access" ON public.leases
FOR SELECT USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee', 'accountant'])
);

CREATE POLICY "leases_legal_read_access" ON public.leases
FOR SELECT USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'employee', 'accountant', 'legal'])
);

-- Create secure policies for payments table
CREATE POLICY "payments_financial_full_access" ON public.unified_payments
FOR ALL USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'accountant'])
);

CREATE POLICY "payments_employee_read_write" ON public.unified_payments
FOR SELECT, INSERT, UPDATE USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager', 'accountant', 'employee'])
);

-- Create secure policies for profiles table
CREATE POLICY "profiles_admin_full_access" ON public.profiles
FOR ALL USING (
    public.user_has_role(auth.uid(), 'admin')
);

CREATE POLICY "profiles_manager_read_access" ON public.profiles
FOR SELECT USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager'])
);

CREATE POLICY "profiles_self_access" ON public.profiles
FOR ALL USING (
    user_id = auth.uid()
);

-- =====================================================
-- PART 4: PERFORMANCE OPTIMIZATION INDEXES
-- =====================================================

-- Create indexes for role-based queries
CREATE INDEX IF NOT EXISTS idx_user_roles_user_id ON public.user_roles(user_id);
CREATE INDEX IF NOT EXISTS idx_user_roles_role ON public.user_roles(role);
CREATE INDEX IF NOT EXISTS idx_user_roles_user_role ON public.user_roles(user_id, role);

-- Create indexes for RLS performance
CREATE INDEX IF NOT EXISTS idx_customers_rls ON public.customers(id) WHERE id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_vehicles_rls ON public.vehicles(id) WHERE id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_leases_rls ON public.leases(id) WHERE id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_payments_rls ON public.unified_payments(id) WHERE id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_profiles_user_id ON public.profiles(user_id);

-- =====================================================
-- PART 5: AUDIT AND MONITORING SETUP
-- =====================================================

-- Create audit log table
CREATE TABLE IF NOT EXISTS public.security_audit_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id),
    action TEXT NOT NULL,
    table_name TEXT NOT NULL,
    record_id UUID,
    old_values JSONB,
    new_values JSONB,
    ip_address INET,
    user_agent TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS on audit log
ALTER TABLE public.security_audit_log ENABLE ROW LEVEL SECURITY;

-- Create policy for audit log (admin and manager access only)
CREATE POLICY "audit_log_admin_access" ON public.security_audit_log
FOR ALL USING (
    public.user_has_any_role(auth.uid(), ARRAY['admin', 'manager'])
);

-- =====================================================
-- PART 6: DEFAULT ADMIN USER SETUP
-- =====================================================

-- Insert default admin role for the first user (if no admin exists)
INSERT INTO public.user_roles (user_id, role, permissions, created_by)
SELECT 
    au.id,
    'admin',
    '{"all": true}',
    au.id
FROM auth.users au
WHERE NOT EXISTS (
    SELECT 1 FROM public.user_roles ur WHERE ur.role = 'admin'
)
LIMIT 1;

COMMIT;
